.landing-container{

    width: 100%;
}
.landing-title{
    width: 100%;
    text-align: center;
}

.group-main-container{
    display: flex;
    flex-direction: column;
    border: 1px solid;
    margin-top: 1rem;
    background-color: lightblue;
    
}
.groups-container{
    border: 1px solid;
    width: 50%
}

.group-title-container{
    display: grid;
    grid-template-rows: 50% 50%;
    justify-content: space-between;
    font-weight: bold;
    border: 2px solid;
    border-radius: 0 .75rem .75rem  0px;
    padding: .5rem;
    margin-bottom: .2rem;
    box-shadow: 0px .1rem .2rem black;
    background-color: white;
    
}
.group-title{
    grid-row: 1/2;
}
#group-delete-button{
    grid-row: 1/2;
    
     
}