html, body, #App, .App {
  height: 100vh;
  width: 100%;
  background-color: rgb(232, 248, 249)
}
.App-body-Container{
 
  border: 1px solid;
  height:100vh;
}
.App-footer-container{
  height: 75vh;
}
.address-container2{
  display: grid;
  grid-template-columns: 50% 50%
}
.address{
  grid-column: 2/3
}
.contact-close{
  background-color: #fdc629;
}