.navbar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: black;
  height: 12%;
  position: fixed;
  z-index: 10;
  bottom: 0px;
  width: 100%;
  border-top: 1px solid;
  box-shadow: 0px 8px 20px lightblue;
  background-color: white;
}
.navbar-links-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.navbar-links-container div{
    margin: 0;
    text-align: center;
}
.navbar-links-container div p{
    margin: 0;
    font-size: small;
}
.nav-icon{
    color: rgba(0,0,0,.3);
}
.nav-icon:hover{
    color: black;
}
