.connections-main-container{

}
.connections-header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 20vh;

  background-image: linear-gradient(to right,rgba(1, 110, 110, 1) , rgba(1, 110, 110, .9) )
}
.my-connections-body-container h4{
    padding-left: 2%;
}
.connection-container{
    display: flex;
    display: row;
    align-items: center;
    justify-content: space-between;
    height: 12vh;
    border-bottom: 1px solid;

}
.connection-name-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
    padding-left: 2%;
    width: 90%;
    height: 100%;
    
}
.trash-container{
    display: flex;
    width: 10%;
    height: 100%;
    align-items: center;

}
.connection-container:hover{
    box-shadow: 0px .1rem .3rem black;
}
.name{
    font-size: 18px;
    margin: 0;
}
.handle{
    margin: 5%;
}